@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* backgroud colors */
  --bg-color: #0b121e;
  --primary-bg-color: #202b3c;
  --secondary-bg-color: #35465e;

  /* text colors */
  --gray-text-color: #9398a1;
  --lightgray-text-color: #e0e5eb;
  --selected-text-color: #eef0f4;

  --primary-border-radius: 1.5rem;
}

body {
  color: white;
  background: var(--bg-color);
}
